.cadre{
    border: solid;
    border-width: 1px;
    border-radius: 7px;
    padding: 7px;
    background-color: #f8f8f8;
}

#aie{
	border-color:red;
	color : red ;
}

.home-section{
    padding-left: 30px;
    position: relative;
    min-height: 100vh;
    top: 0;
    z-index: 2;
    left: 200px;
    width: calc(100% - 250px);

}