@charset "UTF-8";

.corps{
    padding-left: 200px;
    padding-right: 200px;
    position: relative;
    top:100px;
    height: calc(100% - 250px);
    z-index: 2;

}

.cart{
    border: solid;
    background-color: yellow;
}

