<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
            
    
    <wb-module deploy-name="logistique">
                        
        
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/"/>
                        
        
        <property name="context-root" value="logistique"/>
                        
        
        <property name="java-output-path" value="/logistique/build/classes"/>
                    
    
    </wb-module>
        

</project-modules>
