@charset "ISO-8859-1";

body{
	background-color: #f8f8f8;
}
#imageEntreprise{
	max-width: 100%;
	height: auto;
}

div {
	display : inline-block;
	font-size: 100%;
}

.divReposition {
	font-size: 50%;
	marging : auto;
}


.paragrapheGros {
	font-size: 17px;
	text-align : center;
}

#p1milieu{
	text-align : center;	
}

#boutonSavoir{
	display: block;
  	margin : auto;
}
#div1{
	display : inline-block;
	font-size: 15px;
}

#div2{
	display : inline-block;
	font-size: 15px;
}

#div3{
	display : inline-block;
	font-size: 15px;
}
h4 {
	 text-align: center;
	 color : #ea690b;}

h3 {
	 text-align: center;
	 color : #ea690b;
}