@charset "ISO-8859-1";

body{
	background-color: #f8f8f8;
}

.color {
	color:black;
	
}

.color_carousel2 {
	color: #008080;
	
}

.color_carousel3 {
	color: #008080;
	
}

#button{
	padding-left: 200px;
	text-decoration:none;
	border-radius: 40px;
	background-color : orange;
}

#imageHomme{
	display : inline-block;
	width : 70%;
	height : 70%;
	padding-left : 30%;
	
	
}

#calendrier{
	display : inline-block;
	width : 70%;
	height : 422px;
	padding-left : 30%;
}

#exemple{
	display : inline-block;
	width : 70%;
	height: 70%;
	padding-left : 30%;
	
}


.paragrapheGros {
	font-size: 17px;
	text-align : center;
}

#p1milieu{
	text-align : center;	
	color : #3c6982;
}

#boutonSavoir{
	display: block;
  	margin : auto;
  	font-size: 200%;
}

h4 {
	 text-align: center;
	 color : #ea690b;
	 font-style: bold;}


h3 {
	 text-align: center;
	 color : #ea690b;
	 font-style: bold;
}
h5 {
	text-align: center;
	font-style: bold;
	color : #3c6982;
}


#emmanuel{
	height : 360px;
}

.partenaire {
	background-color:#57c3bb;
}


footer {
background-color :black;
}

h6 {
	color:white
}

.blanc {
	color:white;
}

#carte {
	width : 100%;
	height : 100%;
	
}

article{
	width : 100%;
	height : 100%;
	padding-right : 5%;
	padding-left : 5%;

}



#article1 {
	padding-top : 5%;
	padding-right : 5%;
	padding-left : 5%;
}
.enleverlien{
	text-decoration:none;
	color: white;
	
}

.card-text{
	text-align:center;
	
}

#pcarousel{
	color:white;
}

.background {
	border:solid 1px;
	border-color: #ffdc98;
	padding: 1%;}
	
#aws {
	max-width: 85%;
	margin: auto;
}