body {background-color: #f8f8f8}

header {background-color: white;
        font-family: "calibri";
        font-weight: bold;
        font-size: 15pt;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        padding-bottom: 20px;
}


#p-phrase_accroche{
    position: relative;
    display: inline-block;
}
#menu-deroulant {
    position : relative;
    display: inline-block;
}

#menu-deroulant, #menu-deroulant ul {
    position: absolute;
    list-style: none;
    color: #3c6982;
    background-color: white;


}

#menu-deroulant li {
    display: inline-block;
}


#menu-deroulant .sous-menu-Domaine ul li {
    display: inherit;
}


#menu-deroulant a {
    text-decoration: none;
    display: block;
    color:#3c6982;
}


#menu-deroulant ul {
        position: absolute;
        left: -999em;
        text-align: left;
        z-index: 1000;
}


#menu-deroulant li:hover ul {
    left: auto;
}

#Domaine_menu {background-color: white}

.Domaine {
    color : #ea690b;
    position: relative;
    background-color: white

}


.sous-menu-Domaine1 {
    font-size: 12pt;
    background-color: white;
    z-index: 1000;


}

#Domaine2 {
    position: relative;
    background-color: white;


}
.sous-menu-Domaine2 {
    font-size: 12pt;
    position: relative;
    left: 100px;
    background-color: white;
    z-index: 1000;

}

#Domaine3 {
    position: relative;
    background-color: white;

}

.sous-menu-Domaine3 {
    font-size: 12pt;
    position: relative;
    left: 200px;
    background-color: white;
    z-index: 1000;

}

#Domaine4 {
    position: relative;
    background-color: white;

}
.sous-menu-Domaine4 {
    font-size: 12pt;
    position: relative;
    left: 300px;
    background-color: white;
    z-index: 1000;

}

header li {padding: 15px;
}

.Sous-Menu {font-size: 12pt;


    }


#ensemble {

    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 600px;


    }

button {
    border-radius: 10px;
    background-color: #f8f8f8;
    font-weight: bold;
    color: #ea690b;
}


.image_bouton{
    position: absolute;
    background-image: url("images/ensemble.jpg");
    background-repeat: no-repeat;
    background-position: top center;

}

bouton_image{
    position : relative;
    bottom : 0px;
    rigth: 0px;}

