#ajoutFormateur{
    margin: 0 auto;
    width: 800px;
}



.home-section{
    padding-left: 30px;
    position: relative;
    min-height: 100vh;
    top: 0;
    transition: all 0.5s ease;
    z-index: 2;
    left: 200px;
    width: calc(100% - 250px);

}
#NewFormateur{
    border: solid;
    border-radius: 12px;
    padding: 12px;
}

h5{
    border: solid;
    border-radius: 12px;
    padding: 12px;
}

#labZip{
	padding-bottom: 10px
}