#connexion{
    margin: 0 auto;
    width: 200px;

}

.home-section{
    padding-left: 30px;
    position: relative;
    min-height: 100vh;
    top: 0;
    transition: all 0.5s ease;
    z-index: 2;
    left: 200px;
    width: calc(100% - 250px);

}
#head{
    display: block;
    margin:auto ;
    padding: 12px;
    width: 400px;
    align-items: center;


}
h1{
    text-align: center;
}