
#module{
    margin-top: 24px ;
}

#module2{
    margin-top: 24px ;
}


.col .bx-x {
    color: white;

}
.col .bx{
    margin-top: 5px;
    background-color: red;
}
.col .bx:hover {
    background-color: crimson;
    cursor: pointer;
}