.home-section{
    padding-left: 30px;
    position: relative;
    min-height: 100vh;
    top: 0;
    z-index: 2;
    left: 200px;
    width: calc(100% - 250px);

}

#nouveau-formateur{
    margin-top: 30px;

}