@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    color: #3c6982;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #f8f8f8;
    padding: 6px 14px;
    z-index: 99;
    width: 200px;
}

.sidebar .logo-details .logo_name{
    color: #3c6982;
    font-size: 20px;
    font-weight: 600;
    opacity: 1;
    padding-left: 10px;
}

.sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    color: #3c6982;

}

.sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}

.sidebar i{
    color: #3c6982;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar li a .links_name{
    color: #3c6982;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 1;
    pointer-events: auto;
    text-decoration: none;


}

.sidebar li a{
    display: flex;
    height: 50px;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    background: #ffffff;
    border-color: #3c6982;


}

.sidebar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}



